.header__container {
	background-color: white;
	height: 80px;
	width: 100%;
	padding: 25px;
}

.logo__item {
	background-image: url(../img/header/logo.png);
	background-repeat: no-repeat;
	padding: 15px 65px;
	cursor: pointer;
}

.search__input {
	withd: 260px;
	height: 32px;
	border: 1px solid rgb(211, 211, 211);
	font-size: 16px;
	padding: 3px 8px;
}

.search__label {
	background-image: url(../img/header/search.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #F9F9F9;
	border: 1px solid rgb(211, 211, 211);
	border-left: none;
	padding: 8px 18px 5px;
	cursor: pointer;
}

.header__audio {
	background-image: url(../img/header/mic.png);
	padding: 20px;
	display: none;
}

/* .header__icons__item { */
/* 	/\* FIXME is missing from start version *\/ */
/* } */

.header__videos {
	background-image: url(../img/header/video_call.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
}

.header__apps {
	background-image: url(../img/header/apps.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 13px 30px 13px 13px;
}

.header__notifications {
	background-image: url(../img/header/notifications.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 13px 30px 13px 13px;
}

.header__avatar {
	background-image: url(../img/header/avatar.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 13px 30px 13px 13px;
}
